/* Parts of this code were adapted from a W3Schools example:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_sidebar_over
(Source: https://www.w3schools.com/w3css/4/w3.css retrieved in November 2021)*/
body{
    background-color:#ececec;
    font-family: 'monospace',Verdana,sans-serif;
    margin: 0;
    width: 95vw;
    height: 95vh;

}

#headerBackground {
    background-color: #385170;
    padding: 1% 1%;
    color: #ececec;
    text-align: left;
    font-size: 150%;
    z-index: 1;
    font-weight: bold;
    font-style: italic;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
}

.headerButtons {
    background-color: #385170;
    color: white;
    outline: black;
    box-shadow: black;
    font-size: 80%;
    font-weight: bold;
    transition: 0.5s;
    display:block;
    opacity: 0.5;
}

.headerButtons:hover {
    opacity: 2;
}

#text{ 
    padding: 5% 0 5% 8%;
    text-decoration: none;
    font-size: 80%;
    color: black;
    display: block;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s;
}

#picture{ 
    padding: 0 0 0 0;
    text-decoration: none;
    font-size: 80%;
    color: black;
    display: block;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s;
    opacity: 0.6;
}

/* Parts of this code were adapted from a W3Schools example:
https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_sidebar_over
(Source: https://www.w3schools.com/w3css/4/w3.css retrieved in November 2021)*/


.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #385170;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.sideNav a {
    padding: 10% 0 10% 8%;
    text-decoration: none;
    font-size: 150%;
    color: black;
    display: block;
    font-weight: bold;
    font-style: italic;
    transition: 0.5s;
    opacity: 0.6;
}

.sideNav a:hover {
    color: white;
    opacity: 200;
    transition: 0.5s;
}

.sideNav .closeNav {
    position: absolute;
    top: 0;
    right: 10%;
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    transition: 0.5s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;

}


.paragraphClass {
    margin: auto;
    width:1000px;
    padding:25px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.svgFlagIndia {
    width: 60%; height: auto;
    display: block;
    margin: auto
}

.svgMain {
    width: 95%; height: auto;
    display: block;
    margin: auto
}

.orderButtons{
    background-color: white;
    font-weight: bold;
    width:100%;
    height:50%;
    text-align: center;
    color: black;
    overflow: auto;
    opacity: 0.6;
    transition: 0.5s;
    font-size: 100%;

}

.orderButtons:hover{
    opacity:200;
}


.select-submit-buttons{
    background-color: black;
    font-weight: bold;
    width:40%;
    height: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    color: white;
    overflow: auto;
    opacity: 0.6;
    transition: 0.3s;

}

.select-submit-buttons:hover{
    opacity:200;
}

/* adapted from: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_placeholder */
::-webkit-input-placeholder { /* Edge */
    color:black;
    font-style: italic;
    font-family: 'monospace',Verdana,sans-serif;
    font-size: 150%;

}

:-ms-input-placeholder { /* Internet Explorer */
    color:black;
    font-style: italic;
    font-size: 150%;
    font-family: 'monospace',Verdana,sans-serif;
}

::placeholder {
    color:black;
    font-style: italic;
    font-size: 150%;
    font-family: 'monospace',Verdana,sans-serif;
}

/*https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mediaquery_breakpoints*/
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .numberText{font-size: 30%;}
    .text {font-size: 70%;}
    .explore {font-size:10%;}
    #main { margin: 30% auto auto;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .numberText{font-size: 50%;}
    .text {font-size: 100%; }
    .explore {font-size:20%;}
    #main { margin: 20% auto auto;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .numberText{font-size: 60%;}
    .text {font-size: 130%; }
    .explore {font-size:40%;}
    #main { margin: 15% auto auto;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .numberText{font-size: 70%;}
    .text {font-size: 160%;}
    .explore {font-size:70%;}
    #main { margin: 15% auto auto;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .numberText{font-size: 80%;}
    .text {font-size: 180%; }
    .explore {font-size:90%;}
    #main { margin: 15% auto auto;}
}


/*----------*/